    .imageProfile {
        width: 106px;
        height: 106px;
        margin-bottom: 40px;
    }
    
    .nomSite {
        font-family: 'Fredoka One', cursive;
        font-weight: 400;
        font-size: 36px;
        color: #5F5F5F;
    }
    
    nav {
        display: none;
    }
    
    .contenaireLogo {
        display: none;
    }
    
    .centragePhoto,
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nom {
        color: #5F5F5F;
        font-family: 'Work Sans', sans-serif;
        font-size: 18px;
        font-weight: 600;
    }
    
    .metier {
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
        color: #9A9A9A;
    }
    
    .titre {
        color: #357377;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Lexend', sans-serif;
    }
    
    details {
        max-width: 395px;
        width: 100%;
        color: #357377;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Lexend', sans-serif;
        display: flex;
        flex-direction: column;
    }
    
    summary {
        width: 100%;
        max-width: 398px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
    }
    
    summary::after {
        content: "";
        width: 21px;
        height: 12px;
        background-image: url("images/chevronBas.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .gpContenaireHoraire {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .contenaireHoraire {
        width: 100%;
        max-width: 350px;
        height: 60px;
        display: flex;
        column-gap: 20px;
        margin: auto
    }
    
    .horaire {
        display: flex;
        max-width: 102px;
        height: 52px;
        border-radius: 5px;
        background-color: #428A601A;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }
    
    a {
        color: #5F5F5F;
        text-decoration: none;
        font-size: 18px;
    }
    
    .bouton {
        background-color: #428A60;
        max-width: 398px;
        height: 53px;
        Padding: 8px, 24px, 8px, 24px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 600;
        color: #FFFFFD;
        margin-top: 10px;
    }
    
    aside {
        display: none;
    }
    /* ********************************************************** *** */
    
    @media(min-width:540px) {
        body {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 5em;
            background-color: #68B1B680;
            border-radius: 5px;
        }
        .contenaireLogo {
            display: flex;
            column-gap: 10px;
        }
        .liens {
            display: flex;
            width: 40%;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .centragePhoto {
            justify-content: center;
            background-color: #68b69c;
            border-radius: 5px;
            width: 100%;
        }
        .contenairePhotoPro {
            align-self: flex-end;
        }
        .IdentitePro {
            row-gap: 10px;
            background-color: aliceblue;
        }
        .photoPro {
            background-color: #FFD672;
            width: 200px;
        }
        .contenaire {
            justify-content: space-between;
            display: flex;
            margin: 6em;
            justify-content: flex-start;
            background-color: #FFFFFD;
        }
        main {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        nav a {
            text-decoration: none;
            color: #000000;
            font-size: 18px;
            font-weight: 500;
        }
        .titre {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .horaire {
            width: 208px;
        }
        aside {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;
            margin: 2em;
            flex-wrap: wrap;
        }
        .news {
            border-radius: 5px;
            margin-bottom: 5px;
            margin-top: 5px;
        }
    }
    
    @font-face {
        font-family: 'lexend';
        src: url("polices/Lexend-VariableFont_wght.ttf");
    }
    
    @font-face {
        font-family: 'Work Sans';
        src: url("polices/WorkSans-Italic-VariableFont_wght.ttf");
    }