/*FIN RESET*/

main {
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageProfile {
    width: 106px;
    height: 106px;
    margin-bottom: 40px;
}

.nomPro {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: #5F5F5F;
    text-align: center;
    margin-bottom: 10px;
}

.metierPro {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #9A9A9A;
    text-align: center;
    margin-bottom: 20px;
}

.date {
    font-family: Lexend;
    font-weight: 600;
    color: #357377;
    margin-bottom: 20px;
}

.titre {
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #357377;
    margin-bottom: 30px;
}


/* .contenaireDate {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
} */

.horaires {
    display: flex;
    column-gap: 20px;
}

.horaire {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #428A601A;
}

.fenetreHoraire {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.horaire a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}

.voirePlus {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #3647E3;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 25px;
}

.btn {
    width: 338px;
    height: 53px;
    background-color: #428A60;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFD;
    border-radius: 30px;
    margin-top: 40px;
    position: relative;
    top: 20px;
}

.contenaireDate {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.chevronGauche {
    align-self: start;
    position: relative;
    top: 70px;
}

nav {
    display: none;
}

.contenaireLogo {
    display: none;
}

.contenaireProfilePc {
    display: none;
}

.horairesPlus {
    display: none;
}

@media(min-width:540px) {
    main {
        width: 100%;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #68B1B680;
    }
    nav {
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
    .photoProfile {
        margin-bottom: 15px;
    }
    .contenaireLogo {
        display: flex;
        align-items: center;
        width: 240px;
        font-size: 36px;
        column-gap: 4px;
    }
    .chevronGauche {
        display: none;
    }
    .contenaireProfile {
        display: none;
    }
    .contenaireProfilePc {
        display: flex;
        margin-top: 30px;
        align-items: center;
    }
    nav a {
        text-decoration: none;
        color: #000000;
        font-size: 18px;
        font-weight: 500;
    }
    .titre {
        margin-top: 30px;
    }
    .contenaireDate {
        width: 60%;
        margin-bottom: 5px;
    }
    .horairesPlus {
        display: flex;
        column-gap: 20px;
        margin-bottom: 60px;
    }
    .voirePlus {
        display: none;
    }
}